@import url('https://fonts.googleapis.com/css?family=Aldrich|Roboto:300,400,500,700,900&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Montserrat:700,900&display=swap&subset=cyrillic');

$colors: (
  blue: #0288d1,
  lightDark: #252834,
  white: #fff,
  semiGray: #eee,
  gray: #757575,
  grayLight: rgb(117, 117, 117),
  dark: #1e202a,
  red: #eb5757,
  green: #1bb169,
);

$weights: (
  light: 300,
  regular: 400,
  medium: 500,
  bold: 700,
  black: 900,
);

::-webkit-inner-spin-button {
  display: none;
}
::-webkit-clear-button {
  display: none;
}

th {
  position: sticky !important;
  z-index: 10;
  background: #fff;
  left: 0;
  top: 0;
}

.text {
  @each $color-name, $color in $colors {
    &-#{'' + $color-name} {
      color: $color !important;
    }
  }

  @each $weight-name, $weight in $weights {
    &-#{'' + $weight-name} {
      font-weight: $weight !important;
    }
  }
}

.bcg {
  @each $color-name, $color in $colors {
    &-#{'' + $color-name} {
      background-color: $color !important;
    }
  }
}

label {
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 0.875rem;
  background: #f4f7fa !important;
}

button {
  outline: 0 !important;
}

input {
  font-weight: 500 !important;
}

ul {
  padding: 0;
  list-style-type: none;
}

.react-datepicker-wrapper {
  display: block;
  width: 100%;
}

.react-datepicker-popper {
  z-index: 31;
}

.react-datepicker__day {
  margin: 0;
  width: 24px;
}

.msf {
  display: grid;
  grid-template-columns: 60px 200px auto;
  grid-template-rows: 60px 1fr;
  height: 100vh;
  overflow: hidden;
}

.msf__header {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  justify-content: space-between;

  padding-top: 0;
  padding-right: 24px;
  padding-bottom: 0;
  padding-left: 24px;
}

.msf__title {
  color: #fff;
  font-weight: bold;

  padding-top: 10px;
  padding-right: 21px;
  padding-bottom: 10px;
  padding-left: 21px;
}

.header {
  display: flex;
  align-items: center;
  height: 100%;
}

.msf__main {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
  z-index: 0;
  display: grid;
  position: relative;
}

.main__content-filter {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  background: #f4f7fa;
}

.main__content-detail {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  position: relative;
  border-left: 1px solid #e7e7ec;
}

.content-detail__close-button {
  position: absolute !important;
  right: 10px;
  top: 10px;
}

.close-button {
  opacity: 0.5;
  background-color: map-get($colors, white) !important;
  z-index: 13;
}

.content-detail__detail-form {
  margin: 10px 10px;
}

.detail-form {
  font-size: 0.75em;
}

.msf__aside-visibility {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.aside-visibility {
  z-index: 3;
  width: 60px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  cursor: pointer;
}

.msf__aside {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;

  position: relative;
}

.menu__item--nested .menu__item .menu__link {
  padding-left: 48px;
}

.menu__item {
  position: relative;
}

.aside--collapsed {
  grid-column-end: 2;

  .menu__item {
    width: 60px;
  }

  .menu__item--nested .menu__item {
    width: 0;
  }

  .menu__item:hover {
    position: relative;
    width: 260px;
    z-index: 22;
    background: #252834;

    .menu__link {
      justify-content: flex-start;
    }

    .item__text {
      display: block;
    }
  }

  .menu__item--nested {
    .item__text,
    .item__icon {
      display: none;
      position: relative;
    }

    &:hover {
      background: #1e202a;
      & > .menu__link {
        color: #fff;
      }
      .menu__item {
        position: relative;
        width: 200px;
        background: #252834;

        .item__text {
          display: block;
        }

        .menu__link {
          justify-content: flex-start;
        }
      }
    }

    ul {
      position: absolute;
      left: 60px;
      z-index: 22;
    }

    .menu__item {
      position: relative;
      top: -48px;

      .menu__link {
        padding: 0px;
      }
    }
  }

  .menu__link {
    justify-content: flex-start;
    align-items: center;
  }

  .menu__item .menu__item--nested .menu__link {
    padding-left: 48px;
  }

  .item__text {
    display: none;
  }

  & ~ .msf__main {
    grid-column-start: 2;
  }

  & ~ .msf__header {
    grid-column-start: 2;
  }
}

.aside {
  background-color: map-get($colors, lightDark);
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.menu__link {
  color: map-get($colors, gray);
  font-size: 0.65em;
  height: 48px;
  width: 100%;
  display: block;
  display: flex;
  align-items: center;
  padding: 10px 21px 10px 19px;

  &:hover {
    background-color: map-get($colors, dark);
    color: map-get($colors, white);
    text-decoration: none;
  }
}

.menu__link--active {
  color: map-get($colors, white);
  background-color: map-get($colors, dark);

  &:hover {
    color: map-get($colors, white);
  }
}

.item__text {
  margin-left: 10px !important;
}

.custom-select {
  font-weight: 300;
  width: 100%;
}

.control {
  width: 100%;
  display: flex;
  position: relative;
}

.value-container {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.indicators-container {
  width: 24px;
  height: 100%;
  top: 0;
  right: 0;
  position: absolute;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.placeholder {
  position: absolute;
  left: 10px;
  color: map-get($colors, grayLight);
}

.single-value {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1em;
  font-weight: 400;
}

.dropdown-indicator {
  color: map-get($colors, grayLight);
  padding: 0;
  cursor: pointer;
}

.checkbox-group {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.checkbox-group__item {
  min-width: 50%;
}

.form-section {
  padding-left: 20px;
  padding-right: 20px;
}

.form-section__divider {
  padding-top: 20px;
  padding-bottom: 20px;
}

.form-section__header {
  color: #767676;
}

.profile-menu {
  display: flex;
  margin-left: auto;
  margin-right: 20px;
}

.profile-menu__link,
.profile-menu__link:hover {
  text-decoration: none;
  color: #0394e3;
}

.profile-page {
  height: 100%;
  width: 100%;
  padding: 24px;
  padding-top: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f7fa;
}

.profile-form {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 2fr;
  width: 100%;
  height: inherit;
  padding: 24px;
}

.profile-form__face {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.profile-form__detail {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.profile-form__header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.profile-form__detail {
  padding-left: 72px;
  padding-right: 15px;
  max-height: 82vh;
}

.label {
  font-size: 0.875rem !important;
  color: rgb(101, 101, 123) !important;
  margin-bottom: 13px !important;
}

button[class^='Pagination-activeButton-'],
button[class*=' Pagination-activeButton-'] {
  background: transparentize(#0288d1, 0.9);
}

/* Scroll bar stylings */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--lightestgrey);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}
